@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .action-root {
    font-family: InterVar, ui-sans-serif, system-ui, sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: 'opsz' 24, 'cv11' 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .action-root button,
  .action-root p,
  .action-root span,
  .action-root div {
    font-family: inherit;
  }
}
