[submodule "third_party/automa"]
	path = third_party/automa
	url = https://github.com/automaapp/automa
[submodule "third_party/wxt"]
	path = third_party/wxt
	url = https://github.com/wxt-dev/wxt
[submodule "third_party/frappe-ui"]
	path = third_party/frappe-ui
	url = https://github.com/frappe/frappe-ui
